<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodow.realtime.android.playground"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

  <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="18" />

  <!-- This permission is not required if you are targeting your application to 4.1 or above (i.e., minSdkVersion 16) -->
  <permission android:name="com.goodow.realtime.android.playground.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
  <uses-permission android:name="com.goodow.realtime.android.playground.permission.C2D_MESSAGE"/>
  <!-- App receives GCM messages. -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <!-- GCM connects to Google Services. -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- Keeps the processor from sleeping when a message is received. -->
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <!-- GCM requires a Google account only if the device is running a version lower than Android 4.0.4 -->
  <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS"/> -->
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:name="com.goodow.realtime.android.RealtimeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
      BroadcastReceiver that will receive the GCM messages from GCM
      services and handle them to the custom IntentService.

      The com.google.android.c2dm.permission.SEND permission is necessary
      so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.goodow.realtime.android.gcm.GCMRedirectedBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- The category tag is not required for applications targeted to minSdkVersion 16 and higher -->
                <category android:name="com.goodow.realtime.android.playground" />
            </intent-filter>
        </receiver>
        <!--
      Application-specific subclass of GCMBaseIntentService that will
      handle received messages.

      By default, it must be named .GCMIntentService, unless the
      application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name="com.goodow.realtime.android.gcm.GCMIntentService" />

        <activity
            android:name="com.goodow.realtime.android.playground.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.goodow.realtime.android.playground.CollaborativeListsActivity"></activity>
        <activity android:name="com.goodow.realtime.android.playground.CollaborativeMapsActivity"></activity>
    </application>

</manifest>